<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.board.dao.BoardMapper" >


    <!-- loginRow --> 

    <select id="listRow"
            resultType="boardResponseDTO">
        SELECT BNO, TITLE, CONTENT, REGDATE, VIEWCNT, WRITER
        FROM project_board_tbl
    </select>    

    <!-- myHistoryRow --> 

    <select id="myHistoryRow"
            parameterType="java.lang.String"
            resultType="userboardResponseDTO">
        select u.id, b.title, b.content, b.regdate, b.viewcnt, b.bno, b.writer
        from project_user_tbl u
        join project_board_tbl b on (u.id = b.writer)
        where id=#{id}
    </select>
    
    
    </mapper>