<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.user.dao.UserMapper" >


    <!-- loginRow --> 
<!-- 암호화 전 -->
    <!-- <select id="loginRow"
            parameterType="UserRequestDTO"
            resultType="UserResponseDTO">
        SELECT ID, PWD, NAME, POINT, IMGURL
        FROM project_user_tbl
        WHERE ID = #{id} and PWD = #{pwd}
    </select>     -->
<!-- 암호화 후 -->
    <select id="loginRow"
            parameterType="UserRequestDTO"
            resultType="UserResponseDTO">
        SELECT ID, PWD, NAME, POINT, IMGURL
        FROM project_user_tbl
        WHERE ID = #{id}
    </select>   

    <!-- joinRow --> 

    <insert id="joinRow"
            parameterType="UserRequestDTO">
            INSERT INTO project_user_tbl(id, pwd, name, imgUrl)
            VALUES (#{id},#{pwd},#{name},#{imgUrl})
    </insert>
    </mapper>